@import "tailwindcss";


:root{
  font-size: clamp(14px, 2vw, 22px);

}

/* global.css / index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}


